* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
}

header {
  background: #fff;
  color: #3a2c4a;
  width: 100%;
  height: 227px;
  position: relative;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .logo__image {
  width: 120px;
  height: 120px;
}
header .logo__text {
  width: 145px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Mulish, sans-serif;
  color: #f64c72;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
header .logo__text--highlight {
  color: #553d67;
}
header nav {
  width: 100%;
  text-align: center;
}
header nav .nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 45px;
  padding: 0;
  margin-top: 20px;
}
header nav .nav-links li a {
  letter-spacing: 0%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #553d67;
  font-weight: 400;
  font-size: 20px;
  line-height: 176%;
  text-decoration: none;
  color: #553d67;
}
header nav .nav-links li a:hover {
  color: #f64c72;
}
header nav .hamburger {
  display: none;
}

@media screen and (max-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 20px;
  }
  header .logo {
    align-items: center;
    justify-content: center;
    margin: 0; /* Remove margin */
  }
  header .logo__image {
    width: 39.72px;
    height: 39.72px;
  }
  header .logo__text {
    width: 48px;
    height: 7px;
    font-size: 5.96px;
  }
  header nav {
    position: relative;
  }
  header nav .nav-links {
    display: none;
  }
  header nav .hamburger {
    display: block;
    height: 36px;
    width: 36px;
    cursor: pointer;
    position: absolute; /* Change from fixed to absolute */
    right: 0; /* Position relative to header */
    top: 0; /* Align to top of container */
  }
  header nav .hamburger div {
    width: 25px;
    background-color: #553d67;
    display: block;
    margin-bottom: 5px;
    border: 1.8px solid black;
    border-radius: 2px;
  }
  header nav .hamburger div:last-child {
    margin-bottom: 0;
  }
}
/**********************************Hero**************************************/
/****************************** HERO SECTION *************************************/
.hero {
  position: relative;
  width: 100%;
  min-height: 583px; /* Use min-height instead of fixed height */
  background: url("../assets/images/hero_img.webp") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  flex-direction: column;
  padding: 40px 20px; /* Add padding to prevent content from touching edges */
  box-sizing: border-box; /* Ensure padding is included in width calculations */
}
.hero__title {
  max-width: 563px; /* Use max-width instead of fixed width */
  font-family: Mulish, sans-serif;
  color: #fff;
  font-weight: 800;
  font-size: 48px;
  line-height: 100%;
  margin: 0 auto; /* Center the title */
}
.hero__title .mobile-break {
  display: none;
}
.hero__title .desktop-break {
  display: block;
  margin-bottom: 10px;
}
.hero__title .desktop-break:last-child {
  margin-bottom: 0;
}
.hero__description {
  max-width: 563px; /* Use max-width instead of fixed width */
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 163%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.hero__description .mobile-desc {
  display: none;
}
.hero__description .desktop-desc {
  display: block;
  margin-bottom: 5px;
}
.hero__description .desktop-desc:last-child {
  margin-bottom: 0;
}
.hero__email {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Allow wrapping if the container is too narrow */
}
.hero__email-input {
  border: none;
  width: 320px;
  height: 56px;
  border: 2px solid #bbc8d4;
  outline: none;
  border-radius: 2px;
  padding: 20px;
  font-family: Mulish, sans-serif;
  color: #bbc8d4;
  font-weight: 600;
  font-size: 16px;
  line-height: 176%;
  box-sizing: border-box; /* Ensure padding is included in width */
}
.hero__email-button {
  border: none;
  border-radius: 4px;
  background: #f64c72;
  color: white;
  cursor: pointer;
  font-family: Mulish, sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 165px;
  height: 56px;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .hero {
    min-height: 500px; /* Adjust height for tablet */
    padding: 30px 15px;
  }
  .hero__title {
    max-width: 400px; /* Reduce max-width for tablet */
    font-family: Mulish, sans-serif;
    color: #fff;
    font-weight: 800;
    font-size: 44px;
    line-height: 100%;
  }
  .hero__description {
    max-width: 400px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 163%;
  }
  .hero__email {
    gap: 15px;
  }
  .hero__email-input {
    width: 300px;
    height: 52px;
    padding: 15px;
    font-family: Mulish, sans-serif;
    color: #bbc8d4;
    font-weight: 600;
    font-size: 15px;
    line-height: 176%;
  }
  .hero__email-button {
    width: 150px;
    height: 52px;
    font-family: Mulish, sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    margin-top: 24px;
    min-height: 450px; /* Adjust height for mobile */
    padding: 20px 10px;
  }
  .hero__title {
    max-width: 284px; /* Use max-width instead of fixed width */
    font-family: Mulish, sans-serif;
    color: #fff;
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
  }
  .hero__title .desktop-break {
    display: none;
  }
  .hero__title .mobile-break {
    display: block;
    margin-bottom: 8px;
  }
  .hero__title .mobile-break:last-child {
    margin-bottom: 0;
  }
  .hero__description {
    max-width: 314px; /* Use max-width instead of fixed width */
    font-family: Mulish, sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;
    text-align: center;
  }
  .hero__description .desktop-desc {
    display: none;
  }
  .hero__description .mobile-desc {
    display: block;
    margin-bottom: 2.5px;
  }
  .hero__description .mobile-desc:last-child {
    margin-bottom: 0;
  }
  .hero__email {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .hero__email-input {
    width: 100%; /* Use 100% width to fit container */
    max-width: 302px;
    height: 52.85px;
    border: 1.89px solid #bbc8d4;
    border-radius: 3.77px;
    padding: 15px;
    font-family: Mulish, sans-serif;
    color: #bbc8d4;
    font-weight: 600;
    font-size: 15.1px;
    line-height: 176%;
  }
  .hero__email-button {
    border-radius: 3.77px;
    font-family: Mulish, sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 15.1px;
    line-height: 22.65px;
    width: 165px;
    height: 56px;
    margin-bottom: 61.15px;
  }
}
/*********************************** ABOUT *****************************************/
.about {
  position: relative;
  padding-top: 0;
  margin-top: -100px;
}
.about__card {
  background-color: #fff;
  max-width: 961px;
  height: 634px;
  margin: 0 auto;
  padding: 35px;
  box-shadow: 0px 10px 15px 0px rgba(126, 97, 97, 0.2509803922);
  text-align: center;
}
.about__title {
  font-family: Mulish, sans-serif;
  color: #553d67;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 16px;
}
.about__underline {
  width: 156px;
  border: 2px solid #F64C72;
  background-color: #f64c72;
  margin: 0 auto 40px;
}
.about__description {
  font-family: "Open Sans", sans-serif;
  color: #6d7d8b;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin-bottom: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.about__description .mobile-break {
  display: none; /* Hide mobile breaks by default */
}
.about__description .desktop-break {
  display: block;
  margin-bottom: 10px;
}
.about__description .desktop-break:last-child {
  margin-bottom: 0;
}
.about__values {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  position: relative;
  gap: 20px;
}
.about__values::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #666666;
  z-index: 0;
}
.about__value-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  flex: 1;
  max-width: 200px;
}
.about__value-icon {
  margin-bottom: 10px;
}
.about__value-icon .circle {
  width: 49px;
  height: 49px;
  background-color: #fff;
  border: 1px solid #666666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.about__value-text h3 {
  font-family: "Open Sans", sans-serif;
  color: #6d7d8b;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
}

.features {
  display: flex;
  justify-content: space-between;
  margin-top: 133px;
  position: relative;
  z-index: 2;
  gap: 30px;
  margin-left: 140px;
  margin-right: 140px;
}

.feature-card {
  width: 367px;
  height: 296px;
  background-color: #fff;
  padding: 30px;
  text-align: center;
  margin-bottom: -60px;
  margin-top: 16.7px;
  box-shadow: 0px 10px 15px 0px rgba(6, 0, 0, 0.2509803922);
  overflow: hidden;
}
.feature-card__icon {
  width: 75px;
  height: 70.14px;
  margin: 0 auto 15px;
}
.feature-card__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.feature-card__title {
  font-family: Mulish, sans-serif;
  color: #553d67;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  margin-bottom: 30px;
}
.feature-card__description {
  font-family: "Open Sans", sans-serif;
  color: rgba(73, 92, 118, 0.6980392157);
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .about {
    margin-top: 0;
  }
  .about__card {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-top: 44px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .about__values {
    flex-direction: row;
    gap: 15px;
  }
  .about__value-item {
    max-width: 150px;
  }
  .features {
    flex-direction: column;
    align-items: center;
    margin-top: 133px;
  }
  .feature-card {
    width: 367px;
    height: 296px;
    margin-bottom: 20px;
  }
  .feature-card:last-child {
    margin-bottom: -60px;
  }
}
@media screen and (max-width: 480px) {
  .about {
    padding-top: 30px;
  }
  .about__title {
    font-size: 30px;
  }
  .about__card {
    padding: 20px 15px;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .about__description {
    font-size: 16px;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .about__description .desktop-break {
    display: none; /* Hide desktop breaks on mobile */
  }
  .about__description .mobile-break {
    display: block; /* Show mobile breaks on mobile */
    margin-bottom: 8px; /* Slightly less spacing for mobile */
  }
  .about__description .mobile-break:last-child {
    margin-bottom: 0; /* No extra margin for the last line */
  }
  .about__values {
    display: none;
  }
  .features {
    margin-top: 96.74px;
  }
  .features__icon {
    width: 63.96px;
    height: 59.81px;
    margin: 0 auto 15px;
  }
  .features__icon img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .feature-card {
    width: 313px;
    height: 252.44px;
    padding: 20px 15px;
  }
  .feature-card__title {
    font-family: Mulish, sans-serif;
    color: #553d67;
    font-weight: 400;
    font-size: 22.17px;
    line-height: 100%;
    margin-bottom: 15px;
  }
  .feature-card__description {
    font-size: 16px;
  }
}
/****************************** ACHIEVEMENTS *************************************/
.achievements {
  width: 100%;
  background-color: #f64c72;
  padding-top: 152px;
  padding-bottom: 90px;
  height: 466px;
}
.achievements__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}
.achievements__container h2 {
  font-family: Mulish, sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 17px;
  text-transform: uppercase;
}
.achievements__container p {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 163%;
  max-width: 696px;
  margin: 0 auto 27px;
}
.achievements__container p .mobile-break {
  display: none;
}
.achievements__container p .desktop-break {
  display: block;
}
.achievements__container .achievement__item__container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  max-width: 960px;
}
.achievements__container .achievement__item {
  flex: 1;
  text-align: center;
}
.achievements__container .achievement__item h3 {
  font-family: Mulish, sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 10px;
}
.achievements__container .achievement__item p {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 151%;
  text-transform: uppercase;
  margin: 0;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .achievements {
    height: 501px;
    padding: 138.5px 0;
  }
  .achievements__container {
    padding: 0 15px;
  }
  .achievements__container p {
    max-width: 90%;
  }
  .achievements__container .achievement__item__container {
    justify-content: space-around;
    gap: 20px;
  }
  .achievements__container .achievement__item {
    flex: 0 0 22%;
    max-width: 150px;
  }
}
@media screen and (max-width: 480px) {
  .achievements {
    padding-top: 119.5px;
    height: 654px;
  }
  .achievements__container {
    padding: 0 10px;
  }
  .achievements__container h2 {
    font-size: 30px;
    margin-bottom: 21px;
  }
  .achievements__container p {
    font-size: 16px;
    max-width: 100%;
    margin-bottom: 27px;
  }
  .achievements__container p .mobile-break {
    display: block;
  }
  .achievements__container p .desktop-break {
    display: none;
  }
  .achievements__container .achievement__item__container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .achievements__container .achievement__item {
    flex: 0 0 45%;
    max-width: 150px;
  }
  .achievements__container .achievement__item h3 {
    font-size: 40px;
  }
  .achievements__container .achievement__item p {
    font-size: 14px;
  }
  .achievements__container .achievement__item:nth-child(1), .achievements__container .achievement__item:nth-child(2) {
    margin-bottom: 55px;
  }
}
/****************************** WHAT DO WE DO *************************************/
.what-we-do {
  width: 100%;
  padding: 78px 0;
  background-color: #fff;
}
.what-we-do__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.what-we-do__title {
  font-family: Mulish, sans-serif;
  color: #553d67;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.what-we-do__underline {
  width: 169px;
  border: 3px solid #F64C72;
  background-color: #f64c72;
  margin-bottom: 78px;
}
.what-we-do__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
  max-width: 100%;
}
.what-we-do__item {
  background-color: #fff;
  padding: 40px 10px 0 20px;
  text-align: center;
  box-shadow: 0px 10px 15px 0px rgba(101, 90, 90, 0.2509803922);
}
.what-we-do__icon {
  width: 105px;
  height: 112px;
  margin: 0 auto 15px;
}
.what-we-do__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.what-we-do__item-title {
  font-family: Mulish, sans-serif;
  color: #553d67;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  margin-bottom: 15px;
}
.what-we-do__description {
  font-family: "Open Sans", sans-serif;
  color: rgba(73, 92, 118, 0.6980392157);
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin-bottom: 15px;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .what-we-do {
    padding: 60px 0;
  }
  .what-we-do__container {
    padding: 0 15px;
  }
  .what-we-do__title {
    font-size: 36px;
  }
  .what-we-do__underline {
    width: 169px;
    margin-bottom: 70px;
  }
  .what-we-do__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .what-we-do__item {
    padding: 30px 10px;
    height: 395px;
    overflow: hidden;
  }
  .what-we-do__item-title {
    font-size: 22px;
  }
  .what-we-do__description {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .what-we-do {
    padding: 40px 0;
  }
  .what-we-do__container {
    padding: 0 10px;
  }
  .what-we-do__title {
    font-size: 30px;
  }
  .what-we-do__underline {
    width: 127px;
    margin-bottom: 20px;
  }
  .what-we-do__items {
    grid-template-columns: 1fr; /* 1 column for mobile */
    gap: 25px;
    padding: 26px;
  }
  .what-we-do__item {
    height: 331px;
  }
  .what-we-do__icon {
    width: 88px;
    height: 93px;
  }
  .what-we-do__item-title {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .what-we-do__description {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
/****************************** OUR MISSION *************************************/
.mission {
  background-color: #f64c72;
  height: 670px;
  padding: 121px 20px;
  margin-top: 88px;
}
.mission__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mission__image {
  display: none;
}
.mission__content {
  text-align: center;
  color: #fff;
  max-width: 100%;
}
.mission__title {
  font-family: Mulish, sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  margin-bottom: 35px;
  text-transform: uppercase;
}
.mission__description {
  font-family: Mulish, sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 163%;
}
.mission__description .desktop-break {
  display: none;
}
.mission__description .mobile-break {
  display: inline;
}
.mission__description:nth-of-type(1) {
  margin-bottom: 20px;
}
.mission__description:nth-of-type(2) {
  margin-bottom: 65px;
}
.mission__button {
  font-family: Mulish, sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 16px 47px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .mission {
    padding: 120.27px 40px;
    margin-top: 150px;
  }
  .mission__container {
    flex-direction: column;
  }
  .mission__title {
    font-size: 45.76px;
    margin-bottom: 40.04px;
  }
  .mission__description {
    font-size: 20.59px;
    max-width: 600px;
  }
  .mission__description:nth-of-type(1) {
    margin-bottom: 30px;
  }
  .mission__description:nth-of-type(2) {
    margin-bottom: 74.36px;
  }
  .mission__button {
    font-size: 18.3px;
    padding: 17.27px 54.71px 18.79px 52.07px;
    line-height: 27.46px;
  }
}
@media (min-width: 1200px) {
  .mission {
    padding: 0;
    height: 670px;
    margin-top: 150px;
  }
  .mission__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 670px;
    margin: 0;
  }
  .mission__image {
    display: block;
    max-width: 720px;
    height: 670px;
    overflow: hidden;
  }
  .mission__image img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mission__content {
    flex: 1;
    max-width: 45%;
    height: 670px;
    padding-left: 83px;
    padding-right: 93px;
  }
  .mission__title {
    font-size: 48px;
    margin-bottom: 25px;
    margin-top: 137px;
  }
  .mission__description {
    font-size: 18px;
    max-width: 100%;
  }
  .mission__description .desktop-break {
    display: inline;
  }
  .mission__description .mobile-break {
    display: none;
  }
  .mission__button {
    font-size: 20px;
    padding: 14px 28px;
  }
}
/****************************** MEET OUR TEAM *************************************/
.team {
  width: 100%;
  padding: 0;
  margin-top: 150px;
  background-color: #fff;
}
.team__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.team__title {
  font-family: Mulish, sans-serif;
  color: #553d67;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.team__underline {
  width: 169px;
  background-color: #f64c72;
  margin-bottom: 93px;
  border: 3px solid #f64c72;
}
.team__items-wrapper {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrollbar */
  overflow-y: hidden; /* Prevent vertical scrollbar */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
  margin-bottom: 20px; /* Space before the Next button */
}
.team__items {
  display: flex;
  gap: 30px; /* Space between cards */
  width: -moz-max-content;
  width: max-content; /* Ensure the items don't wrap and create a horizontal scroll */
}
.team__item {
  background-color: #fff;
  width: 337px; /* Fixed width for desktop */
  height: 468px;
  padding: 0;
  text-align: center;
  box-shadow: 0px 10px 15px 0px rgba(101, 90, 90, 0.2509803922);
  flex-shrink: 0; /* Prevent cards from shrinking */
  border-radius: 8px;
  margin-bottom: 20px;
}
.team__image {
  width: 100%;
  height: 248px; /* Fixed height for the image */
  margin-bottom: 15px;
}
.team__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__name {
  font-family: Mulish, sans-serif;
  color: #553d67;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: left;
  margin: 28px auto 5px 20px;
}
.team__role {
  font-family: Mulish, sans-serif;
  color: rgba(73, 92, 118, 0.6980392157);
  font-weight: 600;
  font-size: 14px;
  line-height: 151%;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 20px;
}
.team__description {
  font-family: "Open Sans", sans-serif;
  color: rgba(73, 92, 118, 0.6980392157);
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin-left: 20px;
  text-align: left;
}
.team__next-button {
  font-family: "Open Sans", sans-serif;
  color: #553d67;
  font-weight: 600;
  font-size: 21.78px;
  line-height: 37.33px;
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end; /* Align to the right */
  margin-top: 10px;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .team__container {
    padding: 0 15px;
  }
  .team__title {
    font-size: 36px;
  }
  .team__underline {
    width: 120px;
    margin-bottom: 93px;
  }
  .team__items-wrapper {
    margin-bottom: 63px;
    padding-left: 49px;
  }
  .team__items {
    gap: 30px;
  }
  .team__item {
    width: 337px; /* Fixed width for desktop */
    height: 468px;
  }
  .team__image {
    height: 248px;
  }
  .team__next-button {
    font-size: 21.78px;
  }
}
@media screen and (max-width: 480px) {
  .team {
    padding: 0;
    margin-top: 88px;
  }
  .team__container {
    padding: 0;
  }
  .team__title {
    font-size: 30px;
  }
  .team__underline {
    width: 135.44px;
    margin-bottom: 46.96px;
    border: 2.4px solid #F64C72;
  }
  .team__items-wrapper {
    overflow-x: hidden; /* Disable horizontal scrollbar on mobile */
    margin-bottom: 0; /* No need for extra margin since there's no Next button */
    padding-left: 65px;
    padding-right: 65px;
  }
  .team__items {
    flex-direction: column; /* Stack items vertically on mobile */
    width: 100%; /* Take full width */
    gap: 40px; /* Space between stacked items */
  }
  .team__item {
    width: 100%; /* Full width on mobile */
    height: 311px;
  }
  .team__image {
    height: 164.6px;
  }
  .team__name {
    font-size: 15.95px;
  }
  .team__role {
    font-size: 9.3px;
  }
  .team__description {
    font-size: 10.63px;
  }
  .team__next-button {
    display: none; /* Hide the Next button on mobile */
  }
}
/****************************** TESTIMONIAL *************************************/
.testimonial {
  width: 100%;
  padding: 0;
  margin-top: 150px;
  background-color: #fff;
}
.testimonial__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.testimonial__title {
  font-family: Mulish, sans-serif;
  color: #553d67;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
.testimonial__underline {
  width: 169px;
  background-color: #f64c72;
  margin-bottom: 92px;
  border: 3px solid #f64c72;
}
.testimonial__items-wrapper {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrollbar */
  overflow-y: hidden; /* Prevent vertical scrollbar */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
  margin-bottom: 60px; /* Space before the navigation buttons */
}
.testimonial__items {
  display: flex;
  gap: 29px; /* Space between cards */
  width: -moz-max-content;
  width: max-content; /* Ensure the items don't wrap and create a horizontal scroll */
}
.testimonial__item {
  background-color: #fff;
  width: 367px; /* Fixed width for desktop */
  height: 444px;
  padding: 81px 20px 46px 43px;
  text-align: left;
  box-shadow: 0px 10px 15px 0px rgba(101, 90, 90, 0.2509803922);
  flex-shrink: 0; /* Prevent cards from shrinking */
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.testimonial__rating {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}
.testimonial__rating img {
  width: 24px;
  height: 24px;
}
.testimonial__description {
  font-family: "Open Sans", sans-serif;
  color: rgba(73, 92, 118, 0.6980392157);
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin-bottom: 49.69px;
  flex-grow: 1; /* Allow description to take remaining space */
}
.testimonial__author {
  display: flex;
  align-items: center;
  gap: 15px;
}
.testimonial__image {
  width: 56px;
  height: 56px;
}
.testimonial__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.testimonial__info {
  display: flex;
  flex-direction: column;
}
.testimonial__name {
  font-family: "Open Sans", sans-serif;
  color: #6d7d8b;
  font-weight: 600;
  font-size: 18px;
  line-height: 163%;
  margin-bottom: 3px;
}
.testimonial__role {
  font-family: "Open Sans", sans-serif;
  color: #6d7d8b;
  font-weight: 400;
  font-size: 14px;
  line-height: 151%;
}
.testimonial__nav-buttons {
  display: flex;
  gap: 17px;
  align-self: flex-end; /* Align to the right */
}
.testimonial__prev-button, .testimonial__next-button {
  background: none;
  border: none;
  cursor: pointer;
}
.testimonial__prev-button img, .testimonial__next-button img {
  width: 39px;
  height: 36px;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .testimonial__container {
    padding: 0 20px;
  }
  .testimonial__underline {
    margin-bottom: 93px;
  }
  .testimonial__items-wrapper {
    margin-bottom: 60px;
    padding-left: 49px;
  }
  .testimonial__items {
    gap: 29px;
  }
  .testimonial__item {
    width: 367px;
    height: 444px;
  }
  .testimonial__rating img {
    width: 24px;
    height: 24px;
  }
  .testimonial__description {
    font-size: 18px;
  }
  .testimonial__image {
    width: 40px;
    height: 40px;
  }
  .testimonial__name {
    font-size: 18px;
  }
  .testimonial__role {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .testimonial {
    margin-top: 88px;
  }
  .testimonial__container {
    padding: 0;
  }
  .testimonial__title {
    font-size: 30px;
  }
  .testimonial__underline {
    width: 169px;
    margin-bottom: 64.53px;
    border: 3px solid #f64c72;
  }
  .testimonial__items-wrapper {
    overflow-x: hidden;
    margin-bottom: 31.85;
    padding-left: 26px;
    padding-right: 10px;
  }
  .testimonial__items {
    flex-direction: column; /* Stack items vertically on mobile */
    width: 100%; /* Take full width */
    gap: 40px; /* Space between stacked items */
  }
  .testimonial__item {
    width: 100%; /* Full width on mobile */
    height: 372.62px;
  }
  .testimonial__item:nth-child(2), .testimonial__item:nth-child(3), .testimonial__item:nth-child(4) {
    display: none;
  }
  .testimonial__rating img {
    width: 16px;
    height: 16px;
  }
  .testimonial__description {
    font-size: 15.11px;
  }
  .testimonial__image {
    width: 47px;
    height: 47px;
  }
  .testimonial__name {
    font-size: 15.11px;
  }
  .testimonial__role {
    font-size: 11.75px;
  }
}
/****************************** WANT TO WORK WITH US *************************************/
.work-with-us {
  width: 100%;
  background-color: #f64c72;
  padding: 63px 0;
  margin-top: 133px;
}
.work-with-us__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.work-with-us__title {
  font-family: Mulish, sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.work-with-us__description {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  max-width: 800px;
  margin-bottom: 36px;
}
.work-with-us__email {
  color: #fff;
  text-decoration: none;
}
.work-with-us__form {
  width: 267px;
  height: 48px;
  max-width: 400px;
}
.work-with-us__input {
  width: 100%;
  padding: 10px 200px 9px 16px;
  border: 2px solid #BBC8D4;
  border-radius: 2px;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 176%;
  outline: none;
}
.work-with-us__input::-moz-placeholder {
  color: #bbc8d4;
  opacity: 0.7;
}
.work-with-us__input::placeholder {
  color: #bbc8d4;
  opacity: 0.7;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .work-with-us {
    padding-top: 63px;
    padding-bottom: 64px;
  }
  .work-with-us__container {
    padding: 0 15px;
  }
  .work-with-us__title {
    margin-bottom: 31px;
  }
  .work-with-us__description {
    margin-bottom: 31px;
  }
}
@media screen and (max-width: 480px) {
  .work-with-us {
    padding-top: 95px;
    padding-bottom: 86px;
    height: 532px;
  }
  .work-with-us__container {
    padding: 0 10px;
  }
  .work-with-us__title {
    font-size: 36.49px;
    margin-bottom: 31px;
  }
  .work-with-us__description {
    font-size: 16px;
    margin-bottom: 50px;
  }
  .work-with-us__form {
    max-width: 300px;
  }
  .work-with-us__input {
    font-size: 16px;
  }
}
/****************************** FOOTER *************************************/
.footer {
  width: 100%;
  background-color: #fff;
  padding: 77px 82px 95px 140px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer__copyright {
  text-align: left;
}
.footer__text {
  font-family: "Open Sans", sans-serif;
  color: #553d67;
  font-weight: 400;
  font-size: 14px;
  line-height: 151%;
}
.footer__socials {
  display: flex;
  gap: 21.35px;
}
.footer__social-link {
  display: inline-block;
}
.footer__social-link img {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .footer {
    padding: 77px 6px 64px 7px;
  }
  .footer__container {
    padding: 0;
  }
  .footer__social-link img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding-top: 24px;
    padding-bottom: 48.37px;
  }
  .footer__container {
    padding: 0 10px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
  .footer__copyright {
    text-align: center;
  }
  .footer__socials {
    gap: 16.98px;
  }
  .footer__social-link img {
    width: 18px;
    height: 18px;
  }
}/*# sourceMappingURL=style.css.map */